html {
  box-sizing: border-box;
  height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  height: 100%;
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
 }
::-webkit-scrollbar-thumb {
  background: #b1b7e6;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track{
  background: #ffffff;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

.navbar{
  background-color: #bdc2e4;
}

.btn-myBlue{
  background-color: #b1b7e6;
  color: white;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.151);
}
.btn-myBlue:hover{
  background-color: #9398bd;
  color: white;
}

.card{
  min-width: 18rem !important;
}

.nav-link.active{
  background-color: #b1b7e6 !important;
}

.selected-card, .selected-row{
  background-color: #bdc2e4 !important;
}

.employee-card{
  cursor: pointer;
}

.employeeTableRow{
  cursor: pointer;
}

.table td, .table th{
  vertical-align: middle !important;
}

.tab-content > .active{
  display: flex;
}

.tab-content{
  flex: 1 1;
  overflow: auto;
}